<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianhuan.yxgsd.pyw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<!-- 2.2.2新增 银联需要 -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name="com.qianhuan.yxgsd.pyw.MyApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >

        <!-- 朋友玩闪屏配置 -->
        <activity
            android:name="com.pengyouwan.sdk.activity.LauncherActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 游戏方主界面 -->
        <activity
            android:name="com.qianhuan.yxgsd.pyw.MainActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                 <!-- 请游戏方主界面添加此属性 否则闪屏后进入不了游戏 -->
                <!-- 名称必须为：游戏包名+pyw.MAIN -->
                <action android:name="com.qianhuan.yxgsd.pyw.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 朋友玩SDK===============start============= -->
        <activity
            android:name="com.pengyouwan.sdk.activity.ForgetLoginPasswordActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.AccountManagerActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.SetPayPasswordActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.UserCenterActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.VoucherActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.ChargeCenterActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.ResetLoginPasswordActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateVisible" />
        <activity
            android:name="com.pengyouwan.sdk.activity.AccountBindingInquireActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.ResetPayPasswordActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.MyVoucherActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.BindPassCardActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.BindAccountActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.ResetAccountPwdActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateVisible" />
        <activity
            android:name="com.pengyouwan.sdk.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|locale|navigation|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateVisible" />
        <activity
            android:name="com.pengyouwan.sdk.activity.MyBalanceActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.PassportIntroActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.BindMobilePhoneActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.ResetAccountPwdUnBindAccountActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.pengyouwan.sdk.activity.H5Activity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode" />

        <service android:name="com.pengyouwan.sdk.service.CheckTokenService" >
        </service>
        <!-- 朋友玩SDK===============end============= -->
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->
        <!-- 银联支付 start -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" />
        <!-- 银联支付 end -->

    </application>

</manifest>