<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianhuan.yxgsd.am"
    android:versionCode="30107001"
    android:versionName="3.1.7.a">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- 开始添加Amigo Play SDK 需要的权限,开发者重点关注 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 结束Amigo Play SDK 添加权限 -->

    <application
        android:name="com.qianhuan.yxgsd.am.MyApplication"
        android:allowBackup="true"
        android:label="@string/gsp_demo_app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >

        <!-- demo开始 -->
        <activity
            android:name="com.qianhuan.yxgsd.am.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gionee.gamesdk.demo.pay.PaySingleTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name="com.gionee.gamesdk.demo.pay.PayOnlineTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.gionee.gamesdk.demo.account.AccountTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <!-- demo 结束 -->
        
        <!-- Amigo Play SDK 组件声明开始 -->
        <service android:name="com.gionee.gsp.floatingwindow.FloatingWindowService" >
            <intent-filter>
                <action android:name="com.gionee.pay.ic.FloatingWindowService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.gionee.gsp.service.activity.AssistActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- Amigo Play SDK 组件声明结束 -->
    </application>
</manifest>
